html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $text;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $text;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fluid{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
@media(max-width: 720px){
    .container-fluid{
        padding: 0 15px;
    }
}
.page-content{
    background-color: $grey;
}
.title{
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    color: $bg;
    @include f700;
    margin-bottom: 45px;
}
.rate-star{
    display: inline-block;
    margin-right: 8px;
}
.breadcrumbs{
    padding: 45px 0 40px;
    &__list{
        li{
            display: inline-block;
            & + li{
                position: relative;
                padding-left: 22px;
                &::before{
                    content: "-";
                    position: absolute;
                    left: 8px;
                    color: $green;
                }
            }
            &:last-child{
                a,
                span{
                    color: $bg;
                }
            }
        }
        a{
            color: #b0bec5;
        }
        
    }
}
.angle-right{
    padding-left: 15px;
    position: relative;
    &::before{
        content: "\f105";
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        font-size: 14px;
        color: $green;
    }
}