@media(max-width: 1150px){
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer__col-about{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .header__text{
        display: none;
    }
}
@media(max-width: 900px){
    .footer__inner{
        justify-content: flex-start;
    }
    .footer__social{
        max-width: 100%;
        margin-top: 30px;
    }
    .footer__col-menu{
        & + &{
            margin-left: 40px;
        }
    }
    .menu__list{
        display: none;
        background-color: $bg;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;
        padding-bottom: 6px;
        li{
            display: block;
            & + li{
                margin-left: 0;
            }
            &:first-child{
                border-top: 1px solid #fff;
            }
        }
        a{
            display: block;
            padding: 10px;
            border-bottom: 1px solid #fff;
        }
    }
    .menu__btn{
        display: block;
        width: 30px;
        cursor: pointer;
        div{
            height: 3px;
            background-color: #fff;
            & + div{
                margin-top: 5px;
            }
        }
    }
    .circle__menu{
        left: -30px;
    }
}
@media(max-width: 650px){
    .notification__box,
    .message__box{
        display: none;
    }
}
@media(max-width: 550px){
    .footer__col{
        max-width: 100%;
    }
    .footer__col-menu{
        & + &{
            margin-left: 0;
            margin-top: 30px;
        }
    }
    .header__btn-menu{
        display: block;
        cursor: pointer;
        background-color: #fff;
        z-index: 1;
        position: absolute;
        right: 0;
        padding-right: 10px;
        height: 70px;
        line-height: 70px;
        &::before{
            font-size: 45px;
            color: $bg;
        }
    }
    .header__box{
        position: absolute;
        left: 100%;
        background-color: #fff;
        transition: all .5s;
        &.active{
            left: 70px;
        }
    }
    .user{
        margin-right: 5px;
        padding-right: 17px;
    }
    .header__logo{
        margin-left: 60px;
    }
    .header__menu{
        height: 5px;
    }
    .menu__btn{
        position: absolute;
        top: 30px;
        left: 10px;
        div{
            background-color: $bg;
        }
    }
    .menu__list{
        top: 89px;
    }
}
@media(max-width: 450px){
    .user__info{
        display: none;
    }
    .user__img{
        margin-right: 0;
    }
    .user__menu{
        left: 0px;
    }
    .header__btn-login{
        margin-left: -3px;
    }
    .header__btn-register{
        margin-left: 3px;
    }
}
@media(max-width: 350px){
    .header__box.active{
        left: 55px;
    }
}




@media(min-width: 901px){
    .menu__list{
        display: block !important;
    }
}