@import "vars";
@import "global";
@import "fonts";

// start header

.header{
    background-color: #fff;
}
.header-top__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text{
    margin-left: auto;
    margin-right: 30px;
    span{
        color: $red;
    }
}
.header__box{
    display: flex;
    align-items: center;
}
.heder__circle{
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    margin-right: 16px;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        color: #a0a0a0;
        transition: all .3s;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        color: #fff;
        font-size: 11px;
        text-align: center;
        line-height: 18px;
        top: -8px;
        right: -5px;
    }
}
.notification{
    span{
        background-color: $yellow;
    }
}
.message{
    span{
        background-color: $tomato;
    }
}
.basket{
    span{
        background-color: $green;
    }
}
.notification__box,
.message__box,
.basket__box,
.user__box{
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
    &:hover{
        .heder__circle::before{
            color: $bg;
        }
        .circle__menu{
            height: auto;
            overflow: visible;
            border-width: 1px;
            padding-bottom: 5px;
            transition: all .3s;
        }
        .circle__item{
            padding: 20px;
            transition: all .3s;
        }
    }
}
.circle__menu{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: 268px;
    border: 0px solid #d5d5d5;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
    z-index: 2;
}
.circle__item{
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    & + &{
        border-top: 1px solid #d5d5d5;
    }
    &::before{
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 16px;
        color: #b0bec5;
    }
}
.circle__img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
}
.circle__info{
    line-height: 18px;
    &-name{
        font-size: 12px;
        @include f700;
        color: $bg;
    }
    &-theme{
        font-size: 12px;
        color: $green;
    }
    &-date{
        font-size: 10px;
        color: #707070;
    }
    &-title,
    &-price{
        font-size: 16px;
        color: $bg;
        @include f500;
    }
}
.message__menu{
    .circle__info-theme{
        font-size: 11px;
    }
}
.basket__menu{
    .circle__img{
        width: 73px;
        height: 57px;
        border-radius: 0;
    }
    .circle__info{
        line-height: 20px;
    }
    .basket__order{
        padding: 12px 15px;
        border-top: 1px solid #d5d5d5;
    }
    .basket__sum{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: $bg;
        @include f700;
        padding: 0 20px 5px 10px;
    }
    .basket__btn{
        width: 105px;
        padding: 6px;
        color: #fff;
        font-size: 14px;
        @include f700;
        background-color: $green;
        text-align: center;
        &-checkout{
            width: 123px;
            background-color: $red;
            margin-left: 3px;
        }
    }
}
.user{
    padding-right: 22px;
    margin-right: 20px;
    position: relative;
    &__inner{
        display: flex;
        align-items: center;
        &::before{
            content: "\f107";
            font-family: 'icomoon';
            position: absolute;
            right: 0;
            top: -3px;
            font-size: 16px;
            color: #707070;
        }
    }
    &__img{
        height: 34px;
        width: 34px;
        border-radius: 50%;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__info{
        font-size: 14px;
        line-height: 20px;
    }
    &__name{
        @include f500;
        color: #222222;
    }
    &__money{
        @include f700;
        color: $green;
    }
}
.user__menu{
    position: absolute;
    right: 10px;
    top: 100%;
    background-color: #fff;
    width: 158px;
    border: 0px solid #d5d5d5;
    padding: 0 18px;
    height: 0;
    overflow: hidden;
    z-index: 2;
    li{
        margin-bottom: 10px;
    }
    a{
        font-size: 12px;
    }
}
.user__box:hover{
    .user__menu{
        height: auto;
        overflow: visible;
        padding: 18px;
        border-width: 1px;
        transition: all .3s;
    }
}
.header__btn{
    font-style: 12px;
    color: #fff;
    text-align: center;
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    margin-left: 10px;
    &-login{
        background-color: $green;
    }
    &-register{
        background-color: $red;
        margin-left: 7px;
    }
    &-logout{
        background-color: $red;
        display: none;
    }
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 35px;
        }
    }
    a{
        font-size: 14px;
        color: #fff;
    }
}
.icons-color::before{
    color: $tomato;
}
.header__btn-menu,
.menu__btn{
    display: none;
}
.header__btn-login--on{
    display: block;
}
.header__btn-login--off{
    display: none;
}

// end header

// start modal

#modal{
    max-width: 730px;
    width: 100%;
    background-color: $green; 
    padding-top: 85px;
    padding-bottom: 105px;
}
.login__title{
    font-size: 48px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    @include f700;
    text-align: center;
    margin-bottom: 35px;
}
.login__inner{
    max-width: 400px;
    margin: 0 auto;
    label{
        position: relative;
        display: block;
        &::before{
            font-family: 'icomoon';
            position: absolute;
            left: 18px;
            top: 10px;
            font-size: 14px;
            color: #fff;
        }
    }
    .login__label-name::before{
        content: "\f007";
    }
    .login__label-pass::before{
        content: "\f023";
    }
    input{
        display: block;
        width: 100%;
        height: 43px;
        background-color: #76ae36;
        border: none;
        margin-bottom: 8px;
        color: #fff;
        font-size: 14px;
        padding-left: 40px;
        &::placeholder{
            color: #fff;
        }
    }
    button{
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
        background-color: #fff;
        width: 139px;
        border: none;
        padding: 16px 5px;
        font-size: 14px;
        color: #000;
        text-transform: uppercase;
        @include f700;
        margin: 11px 10px 22px 0;
    }
}
.create-acc{
    margin-top: 11px;
    width: 246px;
    background-color: #76ae36;
    font-size: 18px;
    color: #fff;
    padding: 11px 5px 15px 65px;
    position: relative;
    &::before{
        content: '\f044';
        font-family: 'icomoon';
        position: absolute;
        left: 35px;
    }
}
.lost-pass{
    font-size: 18px;
    color: #fff;
}
.fancybox-button svg path{
    color: #fff;
}

// end modal

// start search

.search{
    padding: 155px 0 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 533px;
    &.page-search{
        min-height: 230px;
        padding: 55px 0 65px;
        border-bottom: 1px solid #b6b6b6;
        .search__inner-text{
            margin-bottom: 20px;
        }
    }
}
.search__inner{
    color: #fff;
    text-align: center;
    &-title{
        font-size: 48px;
        line-height: 72px;
        @include f700;
        margin-bottom: 10px;
    }
    &-text{
        font-size: 20px;
        line-height: 30px;
        @include f500;
        margin-bottom: 50px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            width: 100%;
            border: none;
            height: 56px;
            border-radius: 4px;
            padding-left: 25px;
            padding-right: 60px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            font-size: 14px;
            @include f500;
            ::placeholder{
                color: #90a4ae;
            }
        }
        button{
            border: none;
            background-color: transparent;
            position: absolute;
            top: 17px;
            right: 20px;
            cursor: pointer;
        }
    }
}

// end search
// start products

.products{
    padding: 110px 0;
    background-color: $grey;
}
.products__top-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        font-size: 14px;
        @include f500;
        padding: 12px 21px;
        color: $bg;
        border: none;
        background-color: #fff;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
.products__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .product__item:hover{
        box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    }
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    transition: all .3s;
    &-img{
        min-height: 250px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        font-size: 18px;
        color: $bg;
        display: block;
    }
    &-category{
        font-size: 14px;
        color: $green;
        display: block;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        @include f700
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 260px;
        .avatar{
            height: 30px;
            min-width: 30px;
            display: inline-block;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position:  center;
            margin-right: 13px;
        }
        span{
            font-size: 14px;
            @include f500;
        }
    }
    &-star{
        font-size: 12px;
        display: flex;
        align-items: center;
        span{
            color: $bg;
        }
    }
}
.products__bottom-btn{
    text-align: center;
    margin-top: 45px;
    button{
        padding: 17px 30px;
        border: none;
        cursor: pointer;
        color: $bg;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        font-size: 16px;
        margin: 0 5px;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}

// end products
// start product-slider

.product-slider{
    padding: 110px 0 120px;
    .slick-dots{
        text-align: center;
        margin-top: 30px;
        li{
            display: inline-block;
            margin: 0 3px;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                font-size: 0;
                border: none;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #e8e8e8;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// end product-slider
// start advantages

.advantages{
    padding: 110px 0;
    background-color: $bg;
}
.advantages__title{
    color: #fff;
    margin-bottom: 70px;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    max-width: 370px;
    padding: 0 27px;
    text-align: center;
    &:hover{
        .advantages__item-img{
            background-color: $green;
        }
        .advantages__item-title{
            color: $green;
        }
        svg{
            fill: #fff;
        }
    }
    &-img{
        width: 113px;
        height: 113px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }
    &-title{
        color: #fff;
        font-size: 24px;
        @include f500;
        margin-bottom: 20px;
        transition: all .5s;
    }
    &-text{
        color: #b0bec5;
    }
}
.icosvg-1{
    svg{
        width: 70px;
    }
}
.icosvg-2{
    svg{
        width: 70px;
    }
}
.icosvg-3{
    svg{
        width: 80px;
    }
}

// end advantages
// start author

.author{
    min-height: 761px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 650px;
        width: 100%;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 215px;
    }
    &__title{
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        max-width: 265px;
        margin-right: 45px;
        span{
            @include f700;
        }
    }
    &__link{
        background-color: #fff;
        font-size: 18px;
        line-height: 36px;
        columns: $bg;
        padding: 15px 42px;
    }
}

// end author
// start tutorial

.tutorial{
    padding: 70px 0 120px;
}
.tutorial__inner{
    display: flex;
    justify-content: space-between;
}
.tutorial__item{
    max-width: 370px;
    width: 100%;
    &-img{
        min-height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  center;
    }
    &-title{
        background-color: #f8f8f8;
        @include f700;
        font-size: 24px;
        text-align: center;
        padding: 35px 10px;
        color: $bg;
    }
}

// end tutorial
// start footer

.footer{
    background-color: $bg;
}
.footer__content{
    padding: 110px 0 100px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__col{
    max-width: 270px;
    width: 100%;
    color: #b7c3c8;
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
            
        }
    }
    &-text{
        margin-bottom: 30px;
    }
    &-info{
        position: relative;
        padding-left: 30px;
        color: #fff;
        font-size: 14px;
        @include f500;
        margin-top: 18px;
        &::before{
            content: "\f041";
            position: absolute;
            left: 0;
            font-family: 'icomoon';
            font-size: 18px;
            color: $green;
        }
    }
    .footer__info-phone::before{
        content: "\f095";
    }
    &-link{
        a{
            color: #b7c3c8;
            padding-left: 20px;
            margin-bottom: 15px;
            &::before{
                font-size: 18px;
            }
        }
    }
}
.footer__social-link{
    margin-bottom: 40px;
    li{
        display: inline-block;
        & + li{
            margin-left: 7px;
        }
        a{
            background-image: url(../images/icons/social-links.png);
            width: 28px; 
            height: 28px;
        }
        .link-facebook{
            background-position: -28px 0;
        }
        .link-youtube{
            background-position: 0 -28px;
        }
        .link-pinterest{
            background-position: -56px 0;
        }
        .link-linkedin{
            background-position: -28px -28px;
        }
    } 
}
.footer__form-title{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.footer__form{
    position: relative;
    max-width: 270px;
    input{
        background-color: #2f3c43;
        border: none;
        height: 40px;
        padding: 0 50px 0 15px;
        color: #fff;
        font-size: 14px;
        outline: none;
        &::placeholder{
            color: #697378;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 40px;
        background-color: $green;
        border: none;
        cursor: pointer;
        &::before{
            content: "\f124";
            font-family: 'icomoon';
            font-size: 20px;
            color: #fff;
        }
    }
}
.footer__copy{
    border-top: 1px solid #424d53;
    padding: 20px 0 25px;
    &-text{
        text-align: center;
        color: #919699;
    }
}

// end footer
// start product-page

.product-page__inner{
    display: flex;
    padding-bottom: 110px;
}
.product-page__aside{
    margin-right: 30px;
}
.aside__item{
    width: 270px;
    padding: 28px 30px;
    background-color: #fff;
    border: 1px solid #dedede;
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0;
    }
}
.aside__item-title{
    font-size: 20px;
    @include f700;
    color: $bg;
    padding-bottom: 17px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dde3e8;
}
.categories__list{
    li{
        display: flex;
        justify-content: space-between;
        padding-left: 18px;
        margin-bottom: 15px;
        a{
            color: $bg;
        }
        span{
            color: #90a4ae;
            margin-left: 10px;
        }
    }
}
.price-range{
    button{
        margin-top: 30px;
        padding: 15px 10px;
        width: 100%;
        background-color: $green;
        color: #fff;
        border: none;
        cursor: pointer;
        @include f500;
        &::before{
            content: "\f002";
            font-family: 'icomoon';
            font-size: 15px;
            color: #fff;
            margin-right: 9px;
        }
    }
}
.irs-min,
.irs-max {
    display: none;
}
.irs--flat .irs-line {
    top: 10px;
    height: 5px;
    background-color: #f2f5f8;
    border-radius: 2px;
}
.irs--flat .irs-bar {
    top: 10px;
    height: 5px;
    background-color: #37474f;
}
.irs--flat .irs-handle {
    top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid $green;
}
.irs--flat .irs-handle>i:first-child{
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 1;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
}
.irs-from, .irs-single, .irs-to {
    top: 32px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none;
}
.product-page__aside {
    .product__item {
        max-width: 208px;
        box-shadow: none;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #dde3e8;
        &:last-child{
            margin-bottom: 0;
            border-bottom: none;
        }
    }
    .product__item-img{
        min-height: 120px;
    }
    .product__item-content{
        min-height: 75px;
        padding: 0;
        border-bottom: none;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-price{
        font-size: 16px;
    }
    .product__item-info{
        min-height: 0;
        padding: 0;
        
    }
    .product__item-starnum{
        display: none;
    }
    .rate-star {
        margin-right: 0;
        padding-right: 0;
    }
}
.top-sellers__link{
    padding: 15px 10px;
    background-color: $green;
    @include f500;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.product-page__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dedede;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    margin-bottom: 30px;
    font-size: 14px;
    color: #707070;
    &-sort{
        display: flex;
        align-items: center;
    }
    button{
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 16px;
        color: #90a4ae;
        outline: none;
        &.active{
            color: $green;
        }
    }
}
button.icon-sort-amount-desc{
    font-size: 14px;
    color: #455a64;
    margin-right: 6px;
}
button.icon-unsorted{
    font-size: 18px;
    color: #707070;
    margin-left: 6px;
}
.product-page__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.product-page__content{
    width: 100%;
    .product__item{
        max-width: 270px;
        background-color: #fff;
        transition: all .5s;
        &:hover{
            box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
        }
    }
    .product__item-img{
        min-height: 180px;
    }
    .product__item-content{
        padding: 10px 20px;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-info{
        min-height: 65px;
        padding: 10px 20px;
    }
    .rate-star{
        padding: 0;
        margin-right: 5px;
    }
}
.pagination__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 6px;
        }
    }
    a,
    span{
        display: inline-block;
        width: 43px;
        padding: 7px 0;
        text-align: center;
        font-size: 16px;
        color: $bg;
        @include f500;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        &.active{
            color: #fff;
            background-color: $red;
        }
    }
}

// end producr-page
// start product-page list

.product__item-text{
    display: none;
}
.product__item-price{
    span{
        display: none;
    }
}
.product__item-reviews{
    display: none;
}
.product-page__content{
    .product__item.list{
        max-width: 100%;
        .product__item-img{
            width: 240px;
            float: left;
            min-height: 100%;
        }
        .product__item-content{
            padding: 20px 30px 12px;
        }
        .product__item-name{
            max-width: 480px;
        }
        .product__item-text{
            display: block;
            font-size: 14px;
            color: #70838d;
            margin-top: 10px;
            font-family: 'Roboto-Regular', sans-serif;
            font-weight: 400;
        }
        .product__item-price{
            font-size: 30px;
            text-align: right;
            span{
                display: block;
                font-size: 13px;
                color: #aeb4bb;
                font-family: 'Roboto-Regular', sans-serif;
                font-weight: 400;
                margin-top: 22px;
            }
        }
        .product__item-info{
            padding: 10px 30px;
        }
        .product__item-star{
            margin-left: auto;
            margin-right: 30px;
        }
        .rate-star{
            margin-right: 8px;
        }
        .product__item-reviews{
            display: block;
            .icon-comment-o,
            .icon-heart-o{
                font-size: 12px;
                line-height: 1.1;
                color: $bg;
                display: inline-block;
                position: relative;
                padding-left: 48px;
                border-left: 1px solid #aeb4bb;
                line-height: 13px;
                &::before{
                    font-size: 16px;
                    color: $green;
                    position: absolute;
                    left: 18px;
                }
            }
            .icon-comment-o{
                padding-right: 27px;
            }
        }
    }
}

// end product-page list
// start product-details

.product-details{
    padding-bottom: 95px;
    background-color: $grey;
    &__inner{
        display: flex;
    }
    &__content{
    max-width: 870px;
    margin-right: 30px;
    }
    &__image-box{
        border: 1px solid #dedede;
        background-color: #fff;
        padding: 17px 0;
        margin-bottom: 30px;
    }
    &__image{
        min-height: 422px;
        max-width: 829px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
    }
    &__title{
        font-size: 30px;
        line-height: 40px;
        @include f500;
        color: $bg;
        margin-bottom: 20px;
    }
    &__text{
        font-size: 16px;
        color: #707070;
        margin-bottom: 45px;
    }
    // .jq-selectbox{
    //     width: 100%;
    // }
    .jq-selectbox__select{
        height: 27px;
        padding: 0 15px 0 10px;
        border: 1px solid #d3d3d3;
        border-bottom-color: #d3d3d3;
        background: #fff;
        border-radius: 0;
        box-shadow: none;
        font: 13px/27px 'Roboto-Regular', sans-serif;
        color: #70838d;
        text-shadow: none;
    }
    .jq-selectbox__trigger{
        border-left: none;
    }
    .jq-selectbox__trigger-arrow{
        border: none;
        top: 0;
        right: 17px;
        &::before{
            content: "\f0d7";
            font-family: 'icomoon';
            font-size: 13px;
            color: $green;
        }
    }
}
.product-details__link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.product-details__btn{
    a{
        font-size: 16px;
        @include f500;
        color: $grey;
        padding: 13px 5px;
        width: 150px;
        text-align: center;
        & + a{
            margin-left: 18px;
        }
    }
}
.link-preview{
    background-color: $red;
}
.link-screenshot{
    background-color: #455a64;
}
.link-documentation{
    background-color: $green;
}
.product-details__social{
    a{
        width: 54px;
        height: 50px;
        color: #fff;
        font-size: 18px;
        position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
        }
    }
}
.icon-facebook{
    background-color: #6370b6;
}
.icon-twitter{
    background-color: #64b5f6;
}
.icon-linkedin{
    background-color: #4f71ce;
}
.icon-pinterest-p{
    background-color: #d32f2f;
}
.product-details__more-title{
    font-size: 18px;
    color: $bg;
    @include f500;
    padding: 17px 25px;
    border: 1px solid #dedede;
    background-color: #fff;
    margin-bottom: 28px;
}
.product-details__more-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-details__itemmini{
    max-width: 270px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 28px;
    padding-right: 5px;
}
.itemmini__img{
    width: 100px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}
.itemmini__name{
    @include f500;
    color: $bg;
}
.itemmini__theme{
    font-size: 12px;
    color: $green;
}
.itemmini__price{
    font-size: 18px;
    @include f700;
    color: $bg;
}
.tabs{
    display: flex;
    border: 1px solid #dedede;
    background-color: #fff;
    span{
        flex-basis: 25%;
        text-align: center;
        font-size: 16px;
        color: #70838d;
        padding: 15px 5px;
        cursor: pointer;
        & + .tab{
            border-left: 1px solid #dedede;
        }
        &.active{
            color: $bg;
            @include f500;
            border-bottom: 3px solid $green;
        }
    }
}
.tab_content{
    margin-bottom: 52px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-top: none;
    padding: 25px 35px 55px;
    .tab-item{
        display: none;
        &:first-child{
            display: block;
        }
    }
}
.tab-item__list{
    font-size: 16px;
    line-height: 36px;
    color: #707070;
    column-count: 2;
    column-gap: 25px;
    li::before{
        font-size: 16px;
        top: -2px;
    }
}
.product-price__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
.product-price__cost{
    font-size: 22px;
    @include f500;
    color: $red;
}
.product-price button{
    display: block;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
    color: #fff;
    padding: 15px 5px;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    background-color: $text;
    &.icon-shopping-cart{
        background-color: $green;
    }
    &.icon-heart-o{
        background-color: #42a5f5;
    }
    &::before{
        font-family: 'icomoon';
        margin-right: 8px;
        font-weight: 400;
    }
}
.product-author__box{
    display: flex;
    margin-bottom: 25px;
}
.product-author__img{
    margin-right: 15px;
    width: 73px;
    height: 63px;
}
.product-author__name{
    font-size: 18px;
    color: $bg;
    margin-bottom: 10px;
}
.product-author__link{
    font-size: 13px;
    color: #707070;
    border: 1px solid #d3d3d3;
    padding: 1px 10px;
}
.product-author__awards{
    height: 37px;
    li{
        display: inline-block;
        width: 34px;
        height: 37px;
        background-image: url(../images/icons/awards.png);
        position: relative;
        & + li{
            margin-left: 4px;
        }
        &::before{
            position: absolute;
            top: 7px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 20px;
            color: #fff;
        }
    }
    .icon-meh-o{
        background-position: -102px 0;
    }
    .icon-pagelines{
        background-position: -136px 0;
        &::before{
            font-size: 18px;
        }
    }
    .icon-foursquare{
        background-position: -34px 0;
        &::before{
            font-size: 18px;
        }
    }
    .icon-yen{
        background-position: -68px 0;
    }
}
.aside__item-sales{
    padding: 17px 30px;
    font-size: 16px;
    @include f300;
    color: #707070;
    span{
        font-size: 20px;
        @include f700;
        color: $bg;
        padding-right: 12px;
        &::before{
            content: "\f07a";
            font-family: 'icomoon';
            color: #a6b5bb;
            font-weight: 400;
            padding-right: 15px;
        }
    }
}
.product-information__line{
    color: #70838d;
    & + &{
        margin-top: 9px;
    }
    span{
        color: $bg;
        @include f500;
    }
}

// end product-details

// start page-404

.page-404__wrapper,
.about__wrapper,
.contact__wrapper{
    background-color: #fff;
    border: 1px solid #dedede;
    margin-bottom: 150px;
}
.page-404__inner{
    text-align: center;
    background-color: $green;
    color: #fff;
    padding: 100px 0;
}
.page-404__error{
    font-size: 300px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 250px;
    margin-bottom: 50px;
    position: relative;
    transform: translateX(-70px);
    &::after{
        content: "";
        background-image: url(../images/page-4041.png);
        width: 157px;
        height: 301px;
        position: absolute;
        margin-left: 13px;
        top: -30px;
    } 
}
.page-404__title{
    font-size: 30px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 6px;
}
.page-404__text{
    font-size: 18px;
    max-width: 510px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.page-404__link{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 15px 5px;
    width: 210px;
}

// end page-404

// start about

.about__inner{
    padding: 20px 75px 0 45px;
}
.about__box{
    margin-bottom: 50px;
    h3{
        font-size: 20px;
        @include f700;
        color: #444;
    }
    p{
        color: #707070;
    }
}

// end about

// start contact

.contact__head{
    padding-left: 37px;
}
.contact__inner{
    padding: 30px 40px 15px;
}
.contact__map{
    iframe{
        width: 100%;
        height: 415px;
    }
}
.contact__box{
    display: flex;
    padding-top: 50px;
}
.contact__info{
    max-width: 330px;
    width: 100%;
    margin-right: 30px;
}
.contact__info-title{
    font-size: 20px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    color: $bg;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-bottom: 25px;
    position: relative;
    &::before{
        position: absolute;
        left: 0;
        font-size: 24px;
        color: $green;
        font-family: 'icomoon';
    }
    &::after{
        content: "";
        width: 44px;
        height: 4px;
        background-color: $green;
        position: absolute;
        left: 40px;
        bottom: 0;
    }
}
.contact__info-content{
    padding-left: 40px;
    color: #707070;
    margin-bottom: 30px;
    max-width: 270px;
}
.contact__form-title{
    font-size: 24px;
    @include f500;
    color: #333;
    margin-bottom: 20px;
}
.contact__form-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
.contact__form{
    width: 100%;
    input{
        max-width: 350px;
        width: 100%;
        height: 43px;
        border: none;
        background-color: #f1f4f5;
        padding: 0 17px;
        &::placeholder{
            color: #7a7a7a;
        }
    }
    textarea{
        width: 100%;
        height: 193px;
        border: none;
        background-color: #f1f4f5;
        padding: 0 17px;
        resize: none;
        padding: 13px 17px;
        margin-bottom: 22px;
        &::placeholder{
            color: #7a7a7a;
        }
    }
    button{
        width: 230px;
        font-size: 16px;
        @include f700;
        color: #fff;
        text-transform: uppercase;
        border: none;
        background-color: $green;
        padding: 18px 5px;
    }
}

// end contact

// start settings

.settings{
    padding-bottom: 150px;
}
.settings__tabs{
    display: flex;
    .tabs{
        max-width: 270px;
        width: 100%;
        margin-right: 30px;
        display: block;
        height: 100%;
        border-bottom: none;
        span{
            display: block;
            border-bottom: 1px solid #dedede;
            font-size: 14px;
            @include f500;
            color: #707070;
            padding: 13px 5px 12px 50px;
            text-align: left;
            &.active{
                color: $bg;
                border-bottom: 2px solid $green;
                &::before{
                    color: $green;
                }
            }
            &::before{
                left: 22px;
                color: #444;
            }
        }
    }
    .tabs span+.tab {
        border-left: none;
    }
    .tab_content{
        width: 100%;
        padding: 0;
        border-top: 1px solid #dedede;
        margin-bottom: 0;
    }
    .settings__box-content{
        padding: 35px 35px 60px;
    }
    .settings__line{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        label{
            max-width: 255px;
            width: 100%;
            color: #444;
        }
        input{
            background-color: #f9f9f9;
            border: 1px solid #dedede;
            max-width: 540px;
            width: 100%;
            height: 40px;
            color: #000;
            padding: 0 15px;
        }
        select{
            background-color: #f9f9f9;
            border: 1px solid #dedede;
            max-width: 540px;
            width: 100%;
            height: 40px;
            color: #707070;
            padding: 0 15px;
        }
    }
    button{
        background-color: $green;
        border: none;
        cursor: pointer;
        font-size: 15px;
        @include f500;
        color: #fff;
        padding: 14px 30px;
        margin-left: 255px;
    }
}
// end settings

// start profile
.profile{
    padding-bottom: 115px;
}
.profile__inner{
    display: flex;
    margin-bottom: 30px;
}
.profile__aside{
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
    .aside__item{
        padding-bottom: 35px;
        margin-bottom: 25px;
    }
    .footer__social-link{
        margin-bottom: 18px;
    }
}
.profile-status{
    font-size: 13px;
    color: #70838d;
    border: 1px solid #d3d3d3;
    padding: 1px 13px 1px 26px;
    position: relative;
    margin-bottom: 17px;
    &::before{
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        top: 8px;
        left: 9px;
    }
}
.profile-on::before{
    background-color: $green;
}
.profile-off::before{
    background-color: $red;
}
.profile__aside-btn a{
    display: block;
    padding: 15px 5px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
}
.profile__aside-message{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    line-height: 24px;
    background-color: $text;
    margin-bottom: 17px;
    &::before{
        font-family: 'icomoon';
        font-weight: 400;
        line-height: 20px;
        margin-right: 11px;
    }
}
.profile__aside-following{
    @include f700;
    background-color: $green;
}  
.profile__content{
    width: 100%;
}
.profile__banner{
    border: 1px solid #dedede;
    background-color: #fff;
    padding: 17px;
    margin-bottom: 30px;
}
.profile__banner-image{
    min-height: 332px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.profile__items{
    display: flex;
    border: 1px solid #dedede;
    background-color: #fff;
}
.profile-item{
    width: 25%;
    text-align: center;
    font-size: 14px;
    color: #707070;
    padding: 18px 5px 12px;
    & + &{
        border-left: 1px solid #dedede;
    }
    &-title{
        color: $bg;
        @include f500;
    }
    .product__item-star{
        justify-content: center;
        .jq-ry-container {
            padding: 0;
        }
    }
}
.profile__box{
    padding: 35px 40px 30px;
    &-title{
        font-size: 20px;
        color: $bg;
        @include f700;
        margin-bottom: 20px;
    }
    &-text{
        color: #707070;
        margin: 25px 0 35px;
    }
}
.profile__skills{
    &-head{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: $bg;
        margin-bottom: 10px;
    }
    &-name{
        @include f500;
        font-style: italic;
    }
    &-number{
        @include f700;
    }
    &-line{
        height: 15px;
        background-color: #f4f4f4;
        border-radius: 3px;
        margin-bottom: 20px;
        span{
            background-image: url(../images/skills-bar.jpg);
            height: 15px;
            display: block;
            border-radius: 3px;
        }
    }
}
.profile-info__tabs .tabs{
    span{
        position: relative;
        font-family: 'Roboto-Regular', sans-serif !important;
        &::before{
            position: absolute;
            color: #d0d0d0;
            font-family: 'icomoon';
        }
    }
}
// end profile

// start upload
.upload{
    padding-bottom: 105px;
    &__wrapper{
        border: 1px solid #dedede;
        background-color: #fff;
    }
    &__box{
        padding: 40px 45px 30px;
    }
    &__line{
        display: flex;
        margin-bottom: 20px;
    }
    label{
        max-width: 175px;
        width: 100%;
        color: #444;
        padding-right: 15px;
        padding-top: 4px;
        span{
            color: $green;
            font-size: 20px;
        }
    }
    input,
    textarea{
        height: 40px;
        width: 100%;
        background-color: #f9f9f9;
        border: 1px solid #dedede;
        padding: 0 17px;
        font-size: 15px;
        &::placeholder{
            color: #707070;
        }
    }
    textarea{
        height: 150px;
        resize: none;
        padding: 10px 17px;
    }
    .jq-selectbox__select-text{
        font-size: 15px;
    }
    .jq-file{
        width: 100%;
        height: 40px;
        border-radius: 0;
        box-shadow: none;
    }
    .jq-file__name {
        width: 100%;
        height: 40px;
        padding: 0;
        border: 1px solid #dcdcdc;
        border-bottom-color: #dcdcdc;
        border-radius: 0;
        background: #f9f9f9;
        box-shadow: none;
        padding-left: 112px;
        font-size: 12px;
        font-family: 'Roboto-Regular', sans-serif;
        color: #707070;
        line-height: 40px;
    }
    .jq-file__browse {
        top: 7px;
        right: auto;
        left: 9px;
        padding: 0;
        border: 1px solid #dcdcdc;
        border-radius: 0;
        background: #fff;
        box-shadow: none;
        text-shadow: none;
        font-size: 12px;
        font-family: 'Roboto-Regular', sans-serif;
        color: #444;
        line-height: 24px;
        padding: 0 11px;
    }
    button{
        background-color: $green;
        color: #fff;
        @include f500;
        border: none;
        padding: 14px 38px;
        cursor: pointer;
        margin-top: 22px;
        margin-left: 175px;
    }
}
.settings,
.upload,
.withdrawals__form-line{
    .jq-selectbox{
        width: 100%;
    }
    .jq-selectbox__select{
        height: 40px;
        padding-left: 17px;
        border: 1px solid #dedede;
        border-bottom-color: #dedede;
        border-radius: 0;
        background: #f9f9f9;
        box-shadow: none;
        font-family: 'Roboto-Regular', sans-serif;
        color: #707070;
        text-shadow: none;
        line-height: 40px;
    }
    .jq-selectbox__trigger{
        border-left: none;
    }
    .jq-selectbox__trigger-arrow{
        border: none;
        top: 0;
        right: 25px;
        &::before{
            content: "\f0d7";
            font-family: 'icomoon';
            font-size: 15px;
            color: #444;
        }
    }
}
// end upload

// start withdrawals
.withdrawals{
    &__inneer{
        display: flex;
        justify-content: space-between;
        padding-bottom: 145px;
    }
    &__col{
        max-width: 570px;
        width: 100%;
    }
    &__box{
        background-color: #fff;
        border: 1px solid #dedede;
    }
    &__content{
        padding: 30px 40px 35px 35px;
    }
    button{
        font-size: 16px;
        @include f700;
        color: #fff;
        background-color: $green;
        border: none;
        padding: 17px 30px;
        cursor: pointer;
        margin: 10px 0 15px;
    }
}
.withdrawals__form-line{
    margin-bottom: 27px;
    label{
        display: block;
        font-size: 16px;
        @include f500;
        color: $bg;
        margin-bottom: 16px;
        span{
            color: #8bc34a;
            font-size: 20px;
        }
    }
    input{
        height: 40px;
        width: 100%;
        background-color: #f9f9f9;
        border: 1px solid #dedede;
        padding: 0 17px;
        font-size: 15px;
        &::placeholder{
            color: #707070;
        }
    }
    .jq-selectbox__select-text{
        font-size: 15px;
    }
}
.withdrawals__content{
    &-item{
        display: flex;
        align-items: center;
        height: 42px;
        font-size: 13px;
        color: #444;
        &:nth-child(odd){
            background-color: #f9f9f9;
        }
    }
    &-date{
        width: 155px;
        padding-left: 20px;
        @include f500;    
    }
    &-email{
        width: 178px;
        @include f500;
    }
    &-sum{
        width: 70px;
        @include f700;
    }
    &-status{
        width: 85px;
        @include f700;
        &.withdrawals__content-paid{
            color: $green;
        }
    }
}
// end withdrawals

@import "media";