@import "vars";
@import "global";
@import "fonts";

// start header

.header{
    background-color: #fff;
}
.header-top__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    font-style: 12px;
    color: #fff;
    text-align: center;
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    &-login{
        background-color: $green;
        margin-right: 5px;
    }
    &-register{
        background-color: $red;
    }
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 35px;
        }
    }
    a{
        font-size: 14px;
        color: #fff;
    }
}

// end header
// start search

.search{
    padding: 155px 0 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 533px;
    &.page-search{
        min-height: 230px;
        padding: 55px 0 65px;
        border-bottom: 1px solid #b6b6b6;
        .search__inner-text{
            margin-bottom: 20px;
        }
    }
}
.search__inner{
    color: #fff;
    text-align: center;
    &-title{
        font-size: 48px;
        line-height: 72px;
        @include f700;
        margin-bottom: 10px;
    }
    &-text{
        font-size: 20px;
        line-height: 30px;
        @include f500;
        margin-bottom: 50px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            width: 100%;
            border: none;
            height: 56px;
            border-radius: 4px;
            padding-left: 25px;
            padding-right: 60px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            font-size: 14px;
            @include f500;
            ::placeholder{
                color: #90a4ae;
            }
        }
        button{
            border: none;
            background-color: transparent;
            position: absolute;
            top: 17px;
            right: 20px;
            cursor: pointer;
        }
    }
}

// end search
// start products

.products{
    padding: 110px 0;
    background-color: $grey;
}
.products__top-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        font-size: 14px;
        @include f500;
        padding: 12px 21px;
        color: $bg;
        border: none;
        background-color: #fff;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
.products__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .product__item:hover{
        box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    }
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        font-size: 18px;
        color: $bg;
        display: block;
    }
    &-category{
        font-size: 14px;
        color: $green;
        display: block;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        @include f700
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 260px;
        .avatar{
            height: 30px;
            min-width: 30px;
            display: inline-block;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position:  center;
            margin-right: 13px;
        }
        span{
            font-size: 14px;
            @include f500;
        }
    }
    &-star{
        font-size: 12px;
        display: flex;
        align-items: center;
        span{
            color: $bg;
        }
    }
}
.products__bottom-btn{
    text-align: center;
    margin-top: 45px;
    button{
        padding: 17px 30px;
        border: none;
        cursor: pointer;
        color: $bg;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        font-size: 16px;
        margin: 0 5px;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}

// end products
// start product-slider

.product-slider{
    padding: 110px 0 120px;
    .slick-dots{
        text-align: center;
        margin-top: 30px;
        li{
            display: inline-block;
            margin: 0 3px;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                font-size: 0;
                border: none;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #e8e8e8;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// end product-slider
// start advantages

.advantages{
    padding: 110px 0;
    background-color: $bg;
}
.advantages__title{
    color: #fff;
    margin-bottom: 70px;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    max-width: 370px;
    padding: 0 27px;
    text-align: center;
    &:hover{
        .advantages__item-img{
            background-color: $green;
        }
        .advantages__item-title{
            color: $green;
        }
        svg{
            fill: #fff;
        }
    }
    &-img{
        width: 113px;
        height: 113px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }
    &-title{
        color: #fff;
        font-size: 24px;
        @include f500;
        margin-bottom: 20px;
        transition: all .5s;
    }
    &-text{
        color: #b0bec5;
    }
}
.icosvg-1{
    svg{
        width: 70px;
    }
}
.icosvg-2{
    svg{
        width: 70px;
    }
}
.icosvg-3{
    svg{
        width: 80px;
    }
}

// end advantages
// start author

.author{
    min-height: 761px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 650px;
        width: 100%;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 215px;
    }
    &__title{
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        max-width: 265px;
        margin-right: 45px;
        span{
            @include f700;
        }
    }
    &__link{
        background-color: #fff;
        font-size: 18px;
        line-height: 36px;
        columns: $bg;
        padding: 15px 42px;
    }
}

// end author
// start tutorial

.tutorial{
    padding: 70px 0 120px;
}
.tutorial__inner{
    display: flex;
    justify-content: space-between;
}
.tutorial__item{
    max-width: 370px;
    width: 100%;
    &-img{
        min-height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  center;
    }
    &-title{
        background-color: #f8f8f8;
        @include f700;
        font-size: 24px;
        text-align: center;
        padding: 35px 10px;
        color: $bg;
    }
}

// end tutorial
// start footer

.footer{
    background-color: $bg;
}
.footer__content{
    padding: 110px 0 100px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__col{
    max-width: 270px;
    width: 100%;
    color: #b7c3c8;
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
            
        }
    }
    &-text{
        margin-bottom: 30px;
    }
    &-info{
        position: relative;
        padding-left: 30px;
        color: #fff;
        font-size: 14px;
        @include f500;
        margin-top: 18px;
        &::before{
            content: "\f041";
            position: absolute;
            left: 0;
            font-family: 'icomoon';
            font-size: 18px;
            color: $green;
        }
    }
    .footer__info-phone::before{
        content: "\f095";
    }
    &-link{
        a{
            color: #b7c3c8;
            padding-left: 20px;
            margin-bottom: 15px;
            position: relative;
            &::before{
                content: "\f105";
                font-family: 'icomoon';
                font-size: 18px;
                color: $green;
                position: absolute;
                left: 0;
            }
        }
    }
}
.footer__social-link{
    margin-bottom: 40px;
    li{
        display: inline-block;
        & + li{
            margin-left: 7px;
        }
        a{
            background-image: url(../images/icons/social-links.png);
            width: 28px; 
            height: 28px;
        }
        .link-facebook{
            background-position: -28px 0;
        }
        .link-youtube{
            background-position: 0 -28px;
        }
        .link-pinterest{
            background-position: -56px 0;
        }
        .link-linkedin{
            background-position: -28px -28px;
        }
    } 
}
.footer__form-title{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.footer__form{
    position: relative;
    input{
        background-color: #2f3c43;
        border: none;
        height: 40px;
        padding: 0 50px 0 15px;
        color: #fff;
        font-size: 14px;
        outline: none;
        &::placeholder{
            color: #697378;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 40px;
        background-color: $green;
        border: none;
        cursor: pointer;
        &::before{
            content: "\f124";
            font-family: 'icomoon';
            font-size: 20px;
            color: #fff;
        }
    }
}
.footer__copy{
    border-top: 1px solid #424d53;
    padding: 20px 0 25px;
    &-text{
        text-align: center;
        color: #919699;
    }
}

// end footer
// start product-page

.product-page__inner{
    display: flex;
    padding-bottom: 110px;
}
.product-page__aside{
    margin-right: 30px;
}
.aside__item{
    width: 270px;
    padding: 28px 31px;
    background-color: #fff;
    border: 1px solid #dedede;
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0;
    }
}
.aside__item-title{
    font-size: 20px;
    @include f700;
    color: $bg;
    padding-bottom: 17px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dde3e8;
}
.categories__list{
    li{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-left: 18px;
        margin-bottom: 15px;
        &::before{
            content: "\f105";
            position: absolute;
            left: 0;
            top: 0;
            font-family: 'icomoon';
            font-size: 14px;
            color: $green;
        }
        a{
            color: $bg;
        }
        span{
            color: #90a4ae;
            margin-left: 10px;
        }
    }
}
.price-range{
    button{
        margin-top: 30px;
        padding: 15px 10px;
        width: 100%;
        background-color: $green;
        color: #fff;
        border: none;
        cursor: pointer;
        @include f500;
        &::before{
            content: "\f002";
            font-family: 'icomoon';
            font-size: 15px;
            color: #fff;
            margin-right: 9px;
        }
    }
}
.irs-min,
.irs-max {
    display: none;
}
.irs--flat .irs-line {
    top: 10px;
    height: 5px;
    background-color: #f2f5f8;
    border-radius: 2px;
}
.irs--flat .irs-bar {
    top: 10px;
    height: 5px;
    background-color: #37474f;
}
.irs--flat .irs-handle {
    top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    border: 4px solid $green;
}
.irs--flat .irs-handle>i:first-child{
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 1;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
}
.irs-from, .irs-single, .irs-to {
    top: 32px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none;
}
.product-page__aside {
    .product__item {
        max-width: 208px;
        box-shadow: none;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #dde3e8;
        &:last-child{
            margin-bottom: 0;
            border-bottom: none;
        }
    }
    .product__item-img{
        min-height: 120px;
    }
    .product__item-content{
        min-height: 75px;
        padding: 0;
        border-bottom: none;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-price{
        font-size: 16px;
    }
    .product__item-info{
        min-height: 0;
        padding: 0;
        
    }
    .product__item-starnum{
        display: none;
    }
    .rate-star {
        margin-right: 0;
        padding-right: 0;
    }
}
.top-sellers__link{
    padding: 15px 10px;
    background-color: $green;
    @include f500;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.product-page__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dedede;
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    margin-bottom: 30px;
    font-size: 14px;
    color: #707070;
    &-sort{
        display: flex;
        align-items: center;
    }
    button{
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 16px;
        color: #90a4ae;
        &.active{
            color: $green;
        }
    }
}
button.icon-sort-amount-desc{
    font-size: 14px;
    color: #455a64;
    margin-right: 6px;
}
button.icon-unsorted{
    font-size: 18px;
    color: #707070;
    margin-left: 6px;
}
.product-page__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.product-page__content{
    width: 100%;
    .product__item{
        max-width: 270px;
        background-color: #fff;
        &:hover{
            box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
        }
    }
    .product__item-img{
        min-height: 180px;
    }
    .product__item-content{
        padding: 10px 20px;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-info{
        min-height: 65px;
        padding: 10px 20px;
    }
    .rate-star{
        padding: 0;
        margin-right: 5px;
    }
}
.pagination__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 6px;
        }
    }
    a,
    span{
        display: inline-block;
        width: 43px;
        padding: 7px 0;
        text-align: center;
        font-size: 16px;
        color: $bg;
        @include f500;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        &.active{
            color: #fff;
            background-color: $red;
        }
    }
}
  
// end producr-page

  